KERNEL_ARCH_CFLAGS=-m64 -z max-page-size=0x1000 -mno-red-zone -mno-mmx -mno-sse -mno-sse2
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_ASMFLAGS=-felf64
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/vga_ttyd.o \
$(ARCHDIR)/vbe_ttyd.o \
$(ARCHDIR)/font.o \
$(ARCHDIR)/sh.o \
$(ARCHDIR)/msr.o \
$(ARCHDIR)/cpu.o \
$(ARCHDIR)/acpi.o \
$(ARCHDIR)/apic.o \
$(ARCHDIR)/pci.o \
$(ARCHDIR)/mem.o