KERNEL_ARCH_CFLAGS=-m64 -z max-page-size=0x1000 -mno-red-zone -mno-mmx -mno-sse -mno-sse2
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_ASMFLAGS=-felf64
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/kerr.o\
$(ARCHDIR)/tty.o \
$(ARCHDIR)/vga_ttyd.o \
$(ARCHDIR)/vbe_ttyd.o \
$(ARCHDIR)/psf_font.o \
$(ARCHDIR)/font/Default.o \
$(ARCHDIR)/font/Fixed13.o \
$(ARCHDIR)/font/Fixed14.o \
$(ARCHDIR)/font/Fixed15.o \
$(ARCHDIR)/font/Fixed16.o \
$(ARCHDIR)/font/Fixed18.o \
$(ARCHDIR)/font/Terminus12x6.o \
$(ARCHDIR)/font/Terminus14.o \
$(ARCHDIR)/font/Terminus16.o \
$(ARCHDIR)/font/Terminus18x10.o \
$(ARCHDIR)/font/Terminus20x10.o \
$(ARCHDIR)/font/Terminus22x11.o \
$(ARCHDIR)/font/Terminus24x12.o \
$(ARCHDIR)/font/Terminus28x14.o \
$(ARCHDIR)/font/Terminus32x16.o \
$(ARCHDIR)/font/TerminusBold14.o \
$(ARCHDIR)/font/TerminusBold16.o \
$(ARCHDIR)/font/TerminusBold18x10.o \
$(ARCHDIR)/font/TerminusBold20x10.o \
$(ARCHDIR)/font/TerminusBold22x11.o \
$(ARCHDIR)/font/TerminusBold24x12.o \
$(ARCHDIR)/font/TerminusBold28x14.o \
$(ARCHDIR)/font/TerminusBold32x16.o \
$(ARCHDIR)/font/TerminusBoldVGA14.o \
$(ARCHDIR)/font/TerminusBoldVGA16.o \
$(ARCHDIR)/sh.o \
$(ARCHDIR)/msr.o \
$(ARCHDIR)/cpu.o \
$(ARCHDIR)/acpi.o \
$(ARCHDIR)/apic.o \
$(ARCHDIR)/pci.o \
$(ARCHDIR)/usb.o \
$(ARCHDIR)/mem.o \
$(ARCHDIR)/mb2_info.o \
$(ARCHDIR)/heap.o \
$(ARCHDIR)/panic.o \
$(ARCHDIR)/tests.o \
$(ARCHDIR)/queue.o